<!-- Header -->
<app-header class="sticky-top"></app-header>

<!-- main -->
<section class="container">
    <h1 class="text-center my-4" id="titre">Conditions d'utilisation</h1>
    <p class="">
    Les présentes conditions générales d'utilisation (ci-après « CGU ») ont pour objet de fixer les conditions d’accès au Site et à l’Application et les conditions d’utilisation des services proposés sur le Site et l’Application (ci-après ensemble les « Services »).
    Les CGU s'appliquent à toute déclinaison ou extension du Site sur les réseaux sociaux et/ou communautaires existants ou à venir.
    Toute personne majeure ayant accès au Site, à l’Application et aux Services, quels que soient sa qualité, particulier ou professionnel, le lieu où elle se trouve, les modalités de connexion au Site et à l’Application, l’objet et la finalité de son accès au Site et à l’Application et/ou l’utilisation des Services, est un utilisateur (ci-après « Utilisateur »).
    </p>
    <h5>ARTICLE 1. ACCEPTATION DES CONDITIONS GÉNÉRALES D'UTILISATION</h5>
    <p class="">
        L'Utilisateur est présumé connaître et accepter, sans réserve, l'ensemble des CGU du seul fait de sa connexion aux Site et à l'Application et son utilisation des Services, quels que soient les terminaux numériques de réception utilisés.
    Les CGU s'appliquent concomitamment (i) aux Conditions Particulières qui régissent certains Services, ces diverses conditions d'utilisation étant notifiées aux Utilisateurs lors de leur inscription aux Services concernés (ii) à la Charte Données Personnelles et Cookies accessible ici.
    </p>
    <h5>ARTICLE 2. INSCRIPTION AUX SERVICES ET GESTION DES IDENTIFIANTS</h5>
    <p class="">
        L'Utilisateur est présumé connaître et accepter, sans réserve, l'ensemble des CGU du seul fait de sa connexion aux Site et à l'Application et son utilisation des Services, quels que soient les terminaux numériques de réception utilisés.
    Les CGU s'appliquent concomitamment (i) aux Conditions Particulières qui régissent certains Services, ces diverses conditions d'utilisation étant notifiées aux Utilisateurs lors de leur inscription aux Services concernés (ii) à la Charte Données Personnelles et Cookies accessible ici.
    </p>
    <h5>ARTICLE 3. ACCÈS AUX SERVICES ET SUSPENSION DES SERVICES</h5>
    <p>
        Les présentes conditions générales d'utilisation (ci-après « CGU ») ont pour objet de fixer les conditions d’accès au Site et à l’Application et les conditions d’utilisation des services proposés sur le Site et l’Application (ci-après ensemble les « Services »).
Les CGU s'appliquent à toute déclinaison ou extension du Site sur les réseaux sociaux et/ou communautaires existants ou à venir.
Toute personne majeure ayant accès au Site, à l’Application et aux Services, quels que soient sa qualité, particulier ou professionnel, le lieu où elle se trouve, les modalités de connexion au Site et à l’Application, l’objet et la finalité de son accès au Site et à l’Application et/ou l’utilisation des Services, est un utilisateur (ci-après « Utilisateur »).
    </p>
    <h5>ARTICLE 4. ENGAGEMENT DES UTILISATEURS</h5>
    <p>
        Les présentes conditions générales d'utilisation (ci-après « CGU ») ont pour objet de fixer les conditions d’accès au Site et à l’Application et les conditions d’utilisation des services proposés sur le Site et l’Application (ci-après ensemble les « Services »).
Les CGU s'appliquent à toute déclinaison ou extension du Site sur les réseaux sociaux et/ou communautaires existants ou à venir.
Toute personne majeure ayant accès au Site, à l’Application et aux Services, quels que soient sa qualité, particulier ou professionnel, le lieu où elle se trouve, les modalités de connexion au Site et à l’Application, l’objet et la finalité de son accès au Site et à l’Application et/ou l’utilisation des Services, est un utilisateur (ci-après « Utilisateur »).
    </p>
    <p>
        L'Utilisateur est présumé connaître et accepter, sans réserve, l'ensemble des CGU du seul fait de sa connexion aux Site et à l'Application et son utilisation des Services, quels que soient les terminaux numériques de réception utilisés.
Les CGU s'appliquent concomitamment (i) aux Conditions Particulières qui régissent certains Services, ces diverses conditions d'utilisation étant notifiées aux Utilisateurs lors de leur inscription aux Services concernés (ii) à la Charte Données Personnelles et Cookies accessible ici.
    </p>
</section>
<!-- footer -->
<app-footer></app-footer>