<!-- debut Liste des messages des contacts -->
<h3 class="fw-bold text-center titremere-contact my-3">La liste de vos messages</h3>
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header titre-carte-contact">
              Rare Diallo
            </div>
            <div class="card-body">
              <h5 class="card-title email-carte-contact">rarediallo@gmail.com</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quaerat mollitia consequuntur omnis expedita aliquid, aut, in hic, pariatur repellendus ea provident recusandae vero! Laboriosam perferendis minus ipsa recusandae voluptatem!
              </p>
            </div>
        </div>
    </div>
</div>
<div class="mx-auto mt-4">
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link"><i class="bi bi-chevron-left"></i></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#"><i class="bi bi-chevron-right"></i></a>
          </li>
        </ul>
      </nav>
</div>

  <!-- fin Liste des messages des contacts-->
