<!-- Header -->
<app-header class="sticky-top"></app-header>

<!-- main -->
<section class="Blocs">
    <div class="firstDiv">
        <div class="container">
            <div class="card">
                <div class="Content">
                    <img src="https://img.freepik.com/photos-gratuite/personne-faisant-du-yoga-vue-mont-ararat_181624-37405.jpg?size=626&ext=jpg&ga=GA1.1.224077371.1696859023&semt=sph" alt="">
                </div>
                <div class="imgBx">
                    <h5>Walkers for Kids</h5>
                    <p>Walkers for Kids Lorem ipsum dolor sit amet.</p>     
                </div>
            </div>
            <div class="card">
                <div class="Content">
                    <img src="https://img.freepik.com/photos-gratuite/personne-faisant-du-yoga-vue-mont-ararat_181624-37405.jpg?size=626&ext=jpg&ga=GA1.1.224077371.1696859023&semt=sph" alt="">
                </div>
                <div class="imgBx">
                    <h5>Walkers for Kids</h5>
                    <p>Walkers for Kids Lorem ipsum dolor sit amet.</p>     
                </div>
            </div>
            <div class="card">
                <div class="Content">
                    <img src="https://img.freepik.com/photos-gratuite/personne-faisant-du-yoga-vue-mont-ararat_181624-37405.jpg?size=626&ext=jpg&ga=GA1.1.224077371.1696859023&semt=sph" alt="">
                </div>
                <div class="imgBx">
                    <h5>Walkers for Kids</h5>
                    <p>Walkers for Kids Lorem ipsum dolor sit amet.</p>     
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- footer -->
<app-footer></app-footer>