<!-- Header -->
<app-header class="sticky-top"></app-header>

<!-- main -->
<section class="hero-section">
    <div class="img">
        <img src="https://img.freepik.com/photos-premium/deux-femmes-affaires-se-serrant-main-dans-hall-bureau-moderne_255667-13774.jpg?w=826" alt="hero image" width="100%" height="380vh"/>
    </div>
</section>

<section>
    <div class="m-auto mt-5" id="container">
        <div class="contain-apropos">
            <div class="card-left">
                <div class="titre d-flex">
                    <h3 class="fw-bold ">A propos de cilaabok</h3>
                    <span class="tiret"></span>
                </div>
                <p class="slogan">
                    Trouvez, Investissez,<br> Réussissez avec Cila Book
                </p>
            </div>
            <div class="card-right">
                <p>
                    Cila Book est une plateforme novatrice dédiée à la rencontre harmonieuse entre les bailleurs de
                    fonds et les porteurs de
                    projets. Face au défi que représentent les aspirations financières des investisseurs en quête
                    d'opportunités
                    prometteuses et les ambitions des porteurs de projets nécessitant des ressources, Cila Book émerge
                    comme un facilitateur
                    incontournable.
                </p>
                <button type="button" class="btn btn-outline">Nous découvrir</button>
            </div>
        </div>
        <div class="contain-image mt-3 ">
            <div class="col1">
                <img src="../../../assets/images/Rectangle 20.png" alt="">
            </div>
            <div class="col1">
                <img src="../../../assets/images/Rectangle 21.png" alt="">
            </div>
            <div class="col1">
                <img src="../../../assets/images/Rectangle 22.png" alt="">
            </div>
        </div>
    </div>
</section>
<!-- Debut de la section partenaire -->
<section>
    <div class="contain-partenaire mt-5">
        <h3 class="text-center fw-bold ">Partenariats d'Impact : Les Forces Conjuguées de CilaaBook</h3>
        <div class="contain-card mb-5 mt-5">
            <div class="card-partenaire">
                <img src="../../../assets/images/Rectangle 27.png" alt="">
                <p>Simplon Senegal</p>
                <p>Work faster and smarter by integrating directly with Notion, right in the app.</p>
            </div>
            <div class="card-partenaire">
                <img src="../../../assets/images/Rectangle 29.png" alt="" style="width:65px;">
                <p>Federation de Wallonie-Bruxelle</p>
                <p>Work faster and smarter by integrating directly with Notion, right in the app.</p>
            </div>
            <div class="card-partenaire">
                <img src="../../../assets/images/Rectangle 30.png" alt="">
                <p>Francophonie</p>
                <p>Work faster and smarter by integrating directly with Notion, right in the app.</p>
            </div>

        </div>
    </div>
</section>

<!-- footer -->
<app-footer></app-footer>